name: Terragrunt CI with Firefly

on:
  push:
    branches:
      - '**'
  workflow_dispatch:

env:
  TERRAGRUNT_VERSION: "0.68.0"
  TERRAFORM_VERSION: "1.9.0"

jobs:
  terragrunt-plan:
    runs-on: ubuntu-latest
    
    env:
      PLAN_FILE_NAME: "tf.plan"
      WORKSPACE: ${{ github.repository}}
      INIT_LOG_FILE: "init_log.jsonl"
      PLAN_OUTPUT_FILE: "plan_output.json"
      PLAN_JSON_LOG_FILE: "plan_log.jsonl"
      PLAN_RAW_LOG_FILE: "plan_output_raw.log"
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false

      - name: Setup Terragrunt
        run: |
          sudo wget -q -O /usr/local/bin/terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v${{ env.TERRAGRUNT_VERSION }}/terragrunt_linux_amd64
          sudo chmod +x /usr/local/bin/terragrunt
          terragrunt --version

      - name: Setup IAC Wrapper
        uses: gofireflyio/fireflyci/terragrunt@infl-16195-terragrunt-wrapper

      - name: Terragrunt Init and Plan
        run: |
          terragrunt run-all init
          terragrunt run-all plan -- -json -out=${{ env.PLAN_FILE_NAME }}

      - name: Firefly Post Plan - Database
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-plan
          environment: database
          workspace: ${{ env.WORKSPACE }}
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          init-log-file: database/${{ env.INIT_LOG_FILE }}
          plan-output-file: database/${{ env.PLAN_OUTPUT_FILE }}
          plan-json-log-file: database/${{ env.PLAN_JSON_LOG_FILE }}
          plan-raw-log-file: database/${{ env.PLAN_RAW_LOG_FILE }}

        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}

      - name: Firefly Post Plan - Generator
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-plan
          environment: generator
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          workspace: ${{ env.WORKSPACE }}
          init-log-file: generator/${{ env.INIT_LOG_FILE }}
          plan-output-file: generator/${{ env.PLAN_OUTPUT_FILE }}
          plan-json-log-file: generator/${{ env.PLAN_JSON_LOG_FILE }}
          plan-raw-log-file: generator/${{ env.PLAN_RAW_LOG_FILE }}
        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}

      - name: Firefly Post Plan - VPC
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-plan
          environment: vpc
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          workspace: ${{ env.WORKSPACE }}
          init-log-file: vpc/${{ env.INIT_LOG_FILE }}
          plan-output-file: vpc/${{ env.PLAN_OUTPUT_FILE }}
          plan-json-log-file: vpc/${{ env.PLAN_JSON_LOG_FILE }}
          plan-raw-log-file: vpc/${{ env.PLAN_RAW_LOG_FILE }}
        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}
  terragrunt-apply:
    runs-on: ubuntu-latest
    needs: terragrunt-plan
    
    env:
      WORKSPACE: ${{ github.repository}}
      APPLY_LOG_FILE: "apply_log.jsonl"
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ env.TERRAFORM_VERSION }}
          terraform_wrapper: false

      - name: Setup Terragrunt
        run: |
          sudo wget -q -O /usr/local/bin/terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v${{ env.TERRAGRUNT_VERSION }}/terragrunt_linux_amd64
          sudo chmod +x /usr/local/bin/terragrunt
          terragrunt --version

      - name: Setup IAC Wrapper
        uses: gofireflyio/fireflyci/terragrunt@infl-16195-terragrunt-wrapper

      - name: Terragrunt Apply
        run: |
          terragrunt --non-interactive run-all apply -- -auto-approve -json

      - name: Firefly Post Plan - Database
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-apply
          environment: database
          workspace: ${{ env.WORKSPACE }}
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          apply-log-file: database/${{ env.APPLY_LOG_FILE }}

        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}

      - name: Firefly Post Plan - Generator
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-plan
          environment: generator
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          workspace: ${{ env.WORKSPACE }}
          apply-log-file: generator/${{ env.APPLY_LOG_FILE }}
        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}

      - name: Firefly Post Plan - VPC
        uses: gofireflyio/fireflyci@infl-16195-terragrunt-wrapper
        with:
          command: post-plan
          environment: vpc
          terragrunt-version: ${{ env.TERRAGRUNT_VERSION }}
          workspace: ${{ env.WORKSPACE }}
          apply-log-file: vpc/${{ env.APPLY_LOG_FILE }}
        env:
          FIREFLY_ACCESS_KEY: ${{ secrets.FIREFLY_ACCESS_KEY }}
          FIREFLY_SECRET_KEY: ${{ secrets.FIREFLY_SECRET_KEY }}
